/* ---------------------------------------ABOUT SECTION STYLES---------------------------------------- */
#about-section {
    padding: 120px 0;

    .about-img {
        position: relative;

        img {
            width: 370px;

            &:last-of-type {
                position: absolute;
                left: 130px;
                top: 50px;
                z-index: -1;
            }
        }
    }

    .about-content {
        .section-heading {
            text-align: left;
            width: 100%;
            margin-bottom: 55px;
        }

        p {
            margin-top: -6px;
            margin-bottom: 56px;
            color: #666e82;
            font-size: 20px;
            line-height: 40px;
        }

        ul {
            margin-top: -6px;
            margin-bottom: 56px;
            li {
                margin-bottom: 10px;

                svg {
                    margin-right: 10px;
                    color: #ff8257;
                }
            }
        }

        .btn-custom {
            line-height: 63px;
            height: 65px;
            padding: 0 50px;
        }
    }
}


@include lg {
    #about-section {
        .about-img {
            text-align: center;
            margin-bottom: 70px;

            img {
                &:last-of-type {
                    left: 335px;
                }
            }
        }
    }
}


@include md {
    #about-section {
        padding: 80px 0;
        .about-img {
            img {
                &:last-of-type {
                    left: 235px;
                }
            }
        }
    
        .about-content {
            h2 {
                margin-bottom: 45px;
            }

            p {
                margin-bottom: 40px;
            }
        }
    }
}


@include sm {
    #about-section {
        padding: 80px 0;
        .about-img {
            text-align: left;
            img {
                &:last-of-type {
                    left: 130px;
                }
            }
        }
    }
}


@include sm {
    #about-section {
        padding: 80px 0;
        .about-img {
            text-align: left;
        }
    }
}

@include xs {
    #about-section {
        .about-img {
            text-align: center;
            margin-bottom: 30px;
            img {
                &:last-of-type {
                    display: none;
                }
            }
        }

        .about-content {
            h2 {
                font-size: 35px;
                line-height: 55px;
            }
        }
    }
}


@include xxs {
    #about-section {
        .about-content {
            text-align: center;

            h2 {
                font-size: 30px;
                line-height: 50px;
            }
            
            ul {
                text-align: left;
            }
        }
    }
}