/*-------------------------------CLIENT SECTION STYLES--------------------------------*/

// @include xxl {
    #client-section {
        padding: 60px 0;
    
        span {
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            color: $main-color;
            text-align: center;
            display: block;
            margin-bottom: 45px;
        }
    
        .client-logo {
            min-height: 155px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .row {
            justify-content: center;
        }
    }
// }

@include lg {
    #client-section {
        .row {
            justify-content: space-evenly;
        }
    }
}