/* ---------------------------------------HEADER SECTION STYLES---------------------------------------- */
header {
    padding: 40px 0px;

    a {
        display: inline-block;
        margin-left: 35px;
        color: $main-color;
        font: {
            size: 16px;
            weight : 400;
        }
        margin-bottom: 10px;
    }

    .btn-custom {
        height: 60px;
        line-height: 57px;
        padding: 0px 40px;
        border-radius: 35px;
    }

    .navbar-nav {
        align-items: center;
    }

    .offcanvas.offcanvas-start {
        width: 40%;
    }
}

@include md{
    header {
        padding: 20px 0px;

        a {
            margin-left: 15px;
        }

        .btn-custom {
            height: 40px;
            line-height: 37px;
            padding: 0px 15px;
            border-radius: 5px;
        }

        .navbar-nav {
            align-items: flex-start;
        }

        .offcanvas.offcanvas-start {
            width: 60%;
        }
    }
}

@include sm {
    header {
        .offcanvas.offcanvas-start {
            width: 60%;
        }
    }
}

@include xs {
    header {
        .offcanvas.offcanvas-start {
            width: 70%;
        }
    }
}

@include xxs {
    header {
        .offcanvas.offcanvas-start {
            width: 80%;
        }
    }
}