/* ---------------------------------------HEADER SECTION STYLES---------------------------------------- */
header {
    padding: 40px 0px;
    background-color: $theme-1;
    transition: all 0.4s ease;
    a {
        display: inline-block;
        color: $main-color;
        font: {
            size: 16px;
            weight: 400;
        }
        // margin-bottom: 10px;
    }

    .btn-custom {
        height: 60px;
        line-height: 57px;
        padding: 0px 40px;
        border-radius: 35px;
    }

    .navbar-nav {
        align-items: center;
        column-gap: 35px;
    }

    .offcanvas.offcanvas-start {
        width: 40%;
        background-color: $theme-1;
    }
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 0 15px $shadow;
    z-index: 111;
}
.light-dark-toggle {
    background: $main-color;
    width: 50px;
    height: 50px;
    line-height: 52px;
    font-size: 25px;
    color: $theme-1;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    border: none;
}
@include xl {
    header {
        .btn-custom {
            height: 55px;
            line-height: 52px;
            padding: 0px 35px;
        }
    }
}
@include md {
    header {
        padding: 20px 0px;

        a {
            margin-left: 15px;
            margin-bottom: 10px;
        }

        .btn-custom {
            height: 40px;
            line-height: 37px;
            padding: 0px 15px;
            border-radius: 5px;
        }

        .navbar-nav {
            align-items: flex-start;
        }

        .offcanvas.offcanvas-start {
            width: 60%;
        }
    }
    .light-dark-toggle {
        width: 45px;
        height: 45px;
        line-height: 46px;

        i {
            transform: translate(-8%, 0%);
        }
    }
}

@include sm {
    header {
        .offcanvas.offcanvas-start {
            width: 60%;
        }
    }
}

@include xs {
    header {
        .row {
            justify-content: center;

            .col-11 {
                width: 85%;
            }
        }

        .offcanvas.offcanvas-start {
            width: 70%;
        }
    }

    .light-dark-toggle {
        width: 40px;
        height: 40px;
        line-height: 41px;
        font-size: 22px;
        i {
            transform: translate(-14%, 0%);
        }
    }
}

@include xxs {
    header {
        .offcanvas.offcanvas-start {
            width: 80%;
        }
    }
    .sticky {
        padding: 10px 0;
    }
}
