/* ---------------------------------------PORTFOLIO SECTION STYLES---------------------------------------- */
#portfolio-section {
    background-image: url(../img/portfolios/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px;
    position: relative;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #053448;
        opacity: 98%;
        z-index: -1;
    }

    .section-heading {
        h2 {
            color: #fff;
            text-decoration-color: rgba(255, 255, 255, 0.13);
            margin-bottom: 103px;
        }
    }

    .single-portfolio {
        margin-bottom: 30px;
        margin-right: 6px;
        position: relative;
        width: fit-content;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-2;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 1;
            transition: all .4s ease;
        }

        &:hover {
            &::after {
                opacity: 90%;
            }

            .single-portfolio-info {
                display: block;
            }
        }

        img {
            max-width: 100%;
        }

        .single-portfolio-info {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: 2;
            display: none;
            color: #fff;
            transition: all .4s ease;

            svg {
                font-size: 25px;
            }

            h3 {
                color: #fff;
                font-size: 18px;
            }
        }
    }

    #popup-image {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        display: none;

        span {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 60px;
            color: #fff;
            z-index: 100;
            cursor: pointer;
        }

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 500px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}