/* ---------------------------------------SERVICE SECTION STYLES---------------------------------------- */
#service-section {
    background-color: $color-4;
    padding: 120px 0px;
    overflow: hidden;

    .section-heading {
        margin-bottom: 60px;
    }

    .single-service {
        text-align: center;
        padding: 30px 15px;
        transition: all 0.4s ease;

        &:hover {
            background-color: $theme-1;
            h3 {
                color: $color-2;
            }
        }

        img {
            width: 60px;
        }

        h3 {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

.dark-icon {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(321deg) brightness(109%) contrast(101%);
}

@include sm {
    #service-section {
        padding: 80px 0;
    }
}

@include xs {
    #service-section {
        .section-heading {
            width: 80%;
            margin-bottom: 30px;
        }
    }
}

@include xxs {
    #service-section {
        .section-heading {
            width: 100%;
        }
    }
}
